# Importing Libraries

In [1]:
import pandas as pd

# Importing Data

In [2]:
data = pd.read_csv('data/apache/data.csv')
data.head()

,IP Address,Date,Request,Endpoint,Status Code,Response Size,Referrer,User Agent,Time Taken
0,56.81.94.161,[24/Nov/2019:03:03:30 +0300],GET,/usr/admin,502,5014,https://www.hill.com/main/posts/categoriescate...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,507
1,117.144.149.150,[09/Mar/2018:03:07:53 +0300],POST,/usr/login,500,5012,-,Mozilla/5.0 (Linux; Android 10; ONEPLUS A6000)...,151
2,107.193.107.50,[14/Jun/2019:01:16:10 +0300],DELETE,/usr/admin/developer,200,5002,https://www.hill.com/main/posts/categoriescate...,Mozilla/5.0 (Linux; Android 10; ONEPLUS A6000)...,2085
3,149.25.240.57,[02/Jan/2019:03:14:05 +0300],PUT,/usr/admin/developer,200,4905,https://www.hill.com/main/posts/categoriescate...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4896
4,38.186.148.29,[29/Apr/2019:12:24:51 +0300],DELETE,/usr/register,502,4953,https://www.hill.com/main/posts/categoriescate...,Mozilla/5.0 (Linux; Android 10; ONEPLUS A6000)...,3236

In [3]:
data.describe()

          Status Code   Response Size      Time Taken
count  1000000.000000  1000000.000000  1000000.000000
mean       373.747231     4999.478885     2500.162185
std        102.920869       49.984650     1443.310076
min        200.000000     4763.000000        1.000000
25%        303.000000     4966.000000     1249.000000
50%        403.000000     4999.000000     2501.000000
75%        500.000000     5033.000000     3749.000000
max        502.000000     5230.000000     5000.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   IP Address     1000000 non-null  object
 1   Date           1000000 non-null  object
 2   Request        1000000 non-null  object
 3   Endpoint       1000000 non-null  object
 4   Status Code    1000000 non-null  int64
 5   Response Size  1000000 non-null  int64
 6   Referrer       1000000 non-null  object
 7   User Agent     1000000 non-null  object
 8   Time Taken     1000000 non-null  int64
dtypes: int64(3), object(6)
memory usage: 68.7+ MB

# Data Preprocessing

In [5]:
# Date sütununu datetime formatına dönüştürme
data['Date'] = pd.to_datetime(data['Date'], format='[%d/%b/%Y:%H:%M:%S %z]')

# Dönüşümün başarılı olup olmadığını kontrol etmek için ilk birkaç satıra bakalım
data['Date'].head()

0   2019-11-24 03:03:30+03:00
1   2018-03-09 03:07:53+03:00
2   2019-06-14 01:16:10+03:00
3   2019-01-02 03:14:05+03:00
4   2019-04-29 12:24:51+03:00
Name: Date, dtype: datetime64[ns, UTC+03:00]

In [6]:
# Eksik verilerin kontrolü
missing_values = data.isnull().sum()
print(missing_values)

# Eksik veri oranlarını da görebilmek için
missing_percent = (missing_values / len(data)) * 100
print(missing_percent)

IP Address       0
Date             0
Request          0
Endpoint         0
Status Code      0
Response Size    0
Referrer         0
User Agent       0
Time Taken       0
dtype: int64
IP Address       0.0
Date             0.0
Request          0.0
Endpoint         0.0
Status Code      0.0
Response Size    0.0
Referrer         0.0
User Agent       0.0
Time Taken       0.0
dtype: float64

In [7]:
# Gereksiz sütunları kaldırma
data = data.drop(columns=['Referrer', 'User Agent'])

# Kaldırma işleminden sonra veri setinin ilk birkaç satırına bakalım
data.head()

,IP Address,Date,Request,Endpoint,Status Code,Response Size,Time Taken
0,56.81.94.161,2019-11-24 03:03:30+03:00,GET,/usr/admin,502,5014,507
1,117.144.149.150,2018-03-09 03:07:53+03:00,POST,/usr/login,500,5012,151
2,107.193.107.50,2019-06-14 01:16:10+03:00,DELETE,/usr/admin/developer,200,5002,2085
3,149.25.240.57,2019-01-02 03:14:05+03:00,PUT,/usr/admin/developer,200,4905,4896
4,38.186.148.29,2019-04-29 12:24:51+03:00,DELETE,/usr/register,502,4953,3236

In [8]:
# Yeni özellikler ekleme: Yıl, Ay, Gün, Saat, Dakika, vs.
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day
data['Hour'] = data['Date'].dt.hour
data['Minute'] = data['Date'].dt.minute

# Yeni özellikleri kontrol edelim
data.head()

,IP Address,Date,Request,Endpoint,Status Code,Response Size,Time Taken,Year,Month,Day,Hour,Minute
0,56.81.94.161,2019-11-24 03:03:30+03:00,GET,/usr/admin,502,5014,507,2019,11,24,3,3
1,117.144.149.150,2018-03-09 03:07:53+03:00,POST,/usr/login,500,5012,151,2018,3,9,3,7
2,107.193.107.50,2019-06-14 01:16:10+03:00,DELETE,/usr/admin/developer,200,5002,2085,2019,6,14,1,16
3,149.25.240.57,2019-01-02 03:14:05+03:00,PUT,/usr/admin/developer,200,4905,4896,2019,1,2,3,14
4,38.186.148.29,2019-04-29 12:24:51+03:00,DELETE,/usr/register,502,4953,3236,2019,4,29,12,24

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

# TF-IDF vektörizeri oluşturma ve veriyi dönüştürme
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['Endpoint'] + ' ' + data['Request']).toarray()

In [10]:
import faiss
import numpy as np

# FAISS indeksi oluşturma
index = faiss.IndexFlatL2(X.shape[1])  # Vektör boyutunu belirt
index.add(X.astype('float32'))  # Vektörleri indekse ekleme

In [19]:
# Kullanıcı sorgusunu vektörleştirme
query = "24 Kasım 2019 tarihinde hangi sayfalara erişildi?"
query_vector = vectorizer.transform([query]).toarray().astype('float32')

In [20]:
# En yakın komşuları bulma
D, I = index.search(query_vector, 5)  # 5 en yakın komşu
relevant_logs = data.iloc[I[0]]
print(relevant_logs)

        IP Address                      Date Request              Endpoint  \
2   107.193.107.50 2019-06-14 01:16:10+03:00  DELETE  /usr/admin/developer
7       6.43.6.180 2019-07-14 07:00:34+03:00     PUT         /usr/register
9    114.35.185.85 2019-10-02 05:04:21+03:00  DELETE            /usr/login
12    2.131.48.139 2018-05-21 10:35:44+03:00     GET         /usr/register
14   6.197.102.230 2019-02-24 06:43:27+03:00  DELETE            /usr/login

    Status Code  Response Size  Time Taken  Year  Month  Day  Hour  Minute
2           200           5002        2085  2019      6   14     1      16
7           500           4904        3554  2019      7   14     7       0
9           304           4954        1611  2019     10    2     5       4
12          304           4988        1159  2018      5   21    10      35
14          502           4973        4449  2019      2   24     6      43

In [22]:
import torch
from transformers import GPT2LMHeadModel, GPT2Tokenizer

# Model ve tokenizer yükleme
model_name = "gpt2"
model = GPT2LMHeadModel.from_pretrained(model_name)
tokenizer = GPT2Tokenizer.from_pretrained(model_name)

# Log kayıtlarını birleştirerek giriş metni oluşturma
input_text = " ".join(relevant_logs['Request'].tolist())
input_ids = tokenizer.encode(input_text, return_tensors='pt')

# attention_mask oluşturma
attention_mask = torch.ones(input_ids.shape, dtype=torch.long)

# Yanıt oluşturma
output = model.generate(input_ids, attention_mask=attention_mask, max_length=150, num_return_sequences=1, pad_token_id=tokenizer.eos_token_id)
response = tokenizer.decode(output[0], skip_special_tokens=True)
print(response)

DELETE PUT DELETE GET DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DELETE PUT DE